/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Black background */
    color: #f4f4f9; /* Light text */
    margin: 0;
    padding: 0;
  }
  
  /* Header Section */
  header {
    background: #333;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* Navbar List */
  .navbar nav ul.nav-list {
      display: flex;
      justify-content: center;  /* Center the navbar items horizontally */
      align-items: center;  /* Vertically align navbar items */
      list-style: none;
      margin: 0;
      padding: 0;
  }

  /* Navbar Items Styling */
  .navbar nav ul.nav-list li {
      margin: 0 15px;  /* Spacing between buttons */
  }

  /* Navbar Links Styling */
  .navbar nav ul.nav-list li a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      transition: background-color 0.5s ease;
  }

  /* Hover Effect for Links */
  .navbar nav ul.nav-list li a:hover {
      background-color: #6b6a66c0;  /* Yellow highlight on hover */
      border-radius: 5px;
  }
  
  /* Hero Section */
  .hero {
    position: relative;
    background: #333;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70vh;
    padding: 100px 0;
    z-index: 10;
  }
  .hero-content h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f4d03f; /* Yellow */
  }
  
  .hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
    opacity: 1;
  }
  /* Fade In Animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Starts slightly below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Ends at original position */
    }
  }
  
  .hero-content {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    color: yellow;
    text-align: center;
    width: 100%;
  }
  .responsive-rectangle {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin-top: 300px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.6); /* Black-greyish with some transparency */
    border:  rgba(255, 255, 255, 0.2); /* Light border */
    margin: 20px auto; /* Center the rectangle */
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  
  /* Create the lines for the skills to follow */
  .skill-container {
    position: absolute;
    top: 20%; /* Positioning the skill lines */
    left: 0;
    right: 0;
    height: 70%; /* You can adjust based on how many lines you want */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: -2;
    /* border: 10px solid; */
  }

  /* Styling for the skill words */
  .skill-word-0 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordLtoR 3s linear infinite;
  }
  .skill-word-1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordRtoL 3s linear infinite;
  }
  .skill-word-2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordLtoR 3s linear infinite;
  }
  .skill-word-3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordRtoL 3s linear infinite;
  }
  .skill-word-4 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordLtoR 3s linear infinite;
  }
  .skill-word-5 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    position: absolute;
    animation: moveWordRtoL 3s linear infinite;
  }
  /* Animation for moving words horizontally */
  @keyframes moveWordLtoR {
    0% {
        transform: translateX(-20vw);
    }
    100% {
        transform: translateX(100vw);
    }
  }
  /* Animation for moving words horizontally */
  @keyframes moveWordRtoL {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-20vw);
    }
  }
  .cta {
    font-size: 1.2em;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    background-color: #f4d03f; /* Yellow */
  }
  
  .cta:hover {
    background-color: rgb(28, 73, 219);
    color: white;
  }

  
  /* Section Styles for consistency */
  .section-title {
    font-size: 3.5em;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #f4d03f; /* Yellow */
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
  }
  
  .section-content {
    text-align: center;
    font-size: 1.2em;
    margin: 0 60px;
  }
  
  .section-content p {
    color: #ddd;
    margin-bottom: 20px;
  }
  

  .work-item, .certification-item, .about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #121212;
    padding: 20px;
    border-radius: 20px;
  }
  
  .work-icon img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .work-title, .certification-title, .about-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #f4d03f; /* Yellow */
  }
  
  .company-name, .certification-name, .about-description {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .work-description, .certification-description, .about-text {
    font-size: 1.1em;
    color: #ddd;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Footer Section */
  footer {
    background: white;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
  }
  
  .footer-icons {
    margin-bottom: 10px;
  }
  
  .footer-icons a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .footer-icons img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
  }
  
  .footer-icons a:hover img {
    opacity: 0.7;
  }
  
  footer p {
    font-size: 1em;
    color: #aaa;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.5em;
    }
  
    .hero p {
      font-size: 1.2em;
    }
  
    .cta {
      font-size: 1em;
    }
  
    .work-item, .certification-item, .about-item {
      flex-direction: column;
      text-align: center;
    }
  
    .work-icon img{
      width: 60px;
      height: 60px;
    }
  
    .work-title, .certification-title, .about-title {
      font-size: 1.5em;
    }
  
    .company-name, .certification-name, .about-description {
      font-size: 1.1em;
    }
  
    .work-description, .certification-description, .about-text {
      font-size: 1em;
    }
  }